/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/


/* FONT (From Google Fonts) */


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Handlee&display=swap');

/* BACKGROUND */


body {
	background: url('https://static.lioden.com/images/dynamic/backgrounds/SavannahBG.png') center center no-repeat fixed;
	background-size: 100%;
	font-family: "Bodoni Moda SC", serif;
	color: #D2B48C
}


/* MAIN PANEL */


/* RIGHT SIDE */
.container.main {
	background: linear-gradient(90deg, rgba(43,26,18,0.75), rgba(74,46,28,0.65), rgba(138,90,58,0.6), rgba(74,46,28,0.65), rgba(43,26,18,0.75));
	border: 1.5px solid rgb(4, 2, 1);
	box-shadow: 0 0 40px #1e1209;
	border-radius: 10px
}


/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}


/* TOPBAR ("Welcome back, ___") */


.topbar {
	  background: linear-gradient(180deg,  rgb(74, 46, 28), rgb(43, 26, 18));
	border: none;
	border-top: none;
	color: #fadaaf;
	border-radius: 0px 0px 10px 10px;
}




/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
    background: linear-gradient(180deg,  rgb(74, 46, 28), rgb(43, 26, 18));
    border-bottom: none;
    color: #D2B48C !important;
    border-radius: 10px 10px 0px 0px;
}


/* NAVBAR BUTTON TEXT COLOR */


.navbar li a {
	color: #eaddca !important
}


/* NAVBAR BUTTON HOVER */


.navbar li a:hover {
	background: rgba(1, 1, 1, 0) !important;
	border-bottom: none;
	color: #debe96 !important;
	border-radius: 10px
}


/* BREADCRUMB (Home / Den) */


.breadcrumb {
    background: linear-gradient(to bottom, rgba(223, 170, 92, .8), rgba(147, 90, 16, .8));
    border: none;
     box-shadow: 4px 5px 10px #1e0f03bf;
    border-radius: 10px;
}

/* BREADCRUMB TEXT */


.breadcrumb .active {
	color: #fff
}


/* CSS CREDIT */


.breadcrumb::after {
        content: "Merry Christmas Pimp. Never Gonna let you down or Desert you - Akali";
        color: #fff;
        position: absolute;
        right: 20%; /* (This may need adjusting) */
        z-index: 100
    }


@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }


/* BOOKMARK BUTTON */


input.floatright, input.floatright:hover {
	background: rgba(1, 1, 1, 0.5) !important;
        border: none !important;
	border-radius: 10px!important;
	color: #debe94 !important;    
}


/* SWITCH ACCOUNT BUTTON */


button.button, button.button:hover {
	background: linear-gradient(to bottom, #a0865f, #805824);
        border: none !important;
	border-radius: 10px;
    box-shadow: 4px 5px 20px #00000075;
        text-shadow: none !important;
	color: #fff !important
}
#pageSidebar a.btn.btn-default.button {
  background: rgba(1,1,1,0);
  color: #2B1A12;
  border: 1px solid #fff0;
    position: relative;
    top: -2168px;
    right: 440px;
    text-shadow:none;
    
}


/* ALERTS (ie. "Your lionesses have returned from hunting!") */


.alert,
.alert-warning,
.alert-danger {
	background: linear-gradient(to bottom, #eabb58, #694106);
	border: none;
	color: #fff;
     box-shadow: 4px 5px 10px #1e0f03;
	border-radius: 10px !important
       
}


/* BIGGEST HEADER ("___"'s DEN) */

h1 {
    font-size: 70px;
    text-align: center;
      font-family: "Cinzel", serif;
    font-weight: bold;
    background: linear-gradient(to bottom, #c67349 0%, #cd7f32 50%, #f9b97e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
}
/* MEDIUM HEADER */


h2 {
	color: #fff;
	font-size: 24px;
	text-align: center
}




/* SMALL HEADER */


h3 {
	color: #fff !important;
	font-size: 14px !important
}


/* RIGHT SIDE PANEL HEADER */


/* SMALL HEADER */


h3 {
	color: #fff !important;
	font-size: 14px !important
}


/* RIGHT SIDE PANEL HEADER */


.sidebar h3 {
	font-size: 26px !important;
	font-family: "Bodoni Moda SC", serif;
	background: linear-gradient(to bottom, #ffdea4, #d69219);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent !important;
	filter: drop-shadow(2px 2px 2px #2416023d);
}


/* RIGHT SIDE PANELS */
.panel {
	background: linear-gradient(to bottom, rgba(223, 170, 92, .8), rgba(147, 90, 16, .8))!important;
	box-shadow: 4px 5px 10px #1e0f03!important;
	border: none !important;
	color: #fadaaf !important;
	border-radius: 5px
}





/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(171, 153, 106, .5);
	color: #fff !important;
	border-radius: 5px !important
}


/* ENERGY BAR COLOR */
.progress-bar {
	background: #f1be79;
	color: #fff !important;
	border-radius: 5px !important
}


/* ENERGY BAR TEXT */
.progress div {
	color: #010000 !important
}


/* CHAT */


.s-chat-message:nth-child(even) {
	background: #3e2723 !important;
	color: #ffffff !important;
	border: none !important;
}

.s-chat-message:nth-child(odd) {
	background: #21100b !important;
	color: #ffffff !important;
	border: none !important;
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #fff !important;
	border: none !important
}


.s-chat-message_timestamp /* Timestamps */ {
	color: #fff !important;
}


div#chatMessageContainer {
	border: none !important;
}


button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: linear-gradient(to bottom, rgba(234, 181, 102, .8), rgba(147, 90, 16, .8))!important;
        color: #ffedce !important;
	border: none !important
}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */




/* PANEL BACKGROUND COLOR */

.table {
	background: linear-gradient(180deg, #3e2723 0%, #7d4427 50%, #7d4916 100%);
	border: 1px solid black !important;
	border-collapse: separate;
	border-radius: 5px;
}
/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */


.top,
th {
	background: linear-gradient(to bottom, #eac16a, #bf842d)!important;
	color: #fff !important;
	border-radius: 5px 5px 0px 0px
}
.bottom
 {
	background: linear-gradient(to bottom, #eac16a, #bf842d)!important;
	color: #000000 !important;
	border-radius: 0px 0px 5px 5px
}
td.bottom a {
        text-decoration: none !important
}
div.feature.auto.center{
    background: linear-gradient(to bottom, #eac16a, #bf842d)!important;
	color: #fff !important;
	border-radius: 5px!important;
}


/* Color behind "Level, Stats, Branch, Territory" etc. */


.inner-table .left {
	background: linear-gradient(to bottom, #eac16a, #bf842d)!important;
        color: #fff;
	border-radius: 5px!important;
}




/* Color behind the number of all of the things above */


.inner-table .right {
	background: none;
	border-radius: 5px !important
}


td.right {
	border-radius: 0px !important
}


/* IGNORE */
.right_odd {
	background: none !important
}


/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */


.cave-grid,
.mound-grid {
	background: rgba(1, 1, 1, .67);
	border: none !important;
	border-radius: 5px !important
}


/* FEED ALL, PLAY ALL */


.feature {
	background: rgba(1, 1, 1, 0.5) !important;
	color: #fff !important;
	border: 1px solid #000 !important;
	border-radius: 5px !important
}


/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */


.feature,
div.left {
	background: #d692197a;
	border: none;
    color: #fff!important;
	border-radius: 5px !important;
      
}


/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */


.table .left {
	background: rgba(1, 1, 1, 0.5);
        border-radius: 5px
}


/* Color behind the content of the elements listed above */


input,
select,
textarea {
	background: rgba(54, 5, 5, .5) !important;
	border: none !important;
	border-radius: 5px !important;
	color: #fadaaf !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* Copyright, Terms of Service, CoC, etc. */


div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #110a0a !important;
        text-shadow: none !important
}


/* LINK COLOR */


a:link,
a:visited {
	color: #fadaaf !important
}


/* LINK HOVER COLOR */


a:hover {
	color: #ffffff !important
}




/* BOX CONTAINER */


.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}


/* BOXES */


.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}


.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}


.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}


/* HOVER BOXES */


.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}


.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}


.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}


.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}


.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}


.largehoverbox:hover {
	height: 150px;
	width: 90%;
}


/* SCROLL BAR */


/* WIDTH */


::-webkit-scrollbar {
	width: 10px
}




/* BACKGROUND */


::-webkit-scrollbar-track {
	background: #ffffff
}




/* "THUMB" */


::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 0px
}




/* LION AND USER AVATAR OPACITY */


div#lion_image {
	opacity: 1
}


table#player img {
	opacity: 1
}




/* CIRCULAR LION AND USER AVATAR */


div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}


table#player img {
	border-radius: 50% !important;
	overflow: hidden
}




/* LIODEN LOGO REPLACER */


div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://media.tenor.com/sGpv25GymPwAAAAj/rick-astley.gif');
    position: relative;
    width: 150px;
height: 100px;
        top: -12px;
right: -25px;

}


/* CAVE / MOUND IMAGES */

div.cave-grid>img {
	content: url('https://static.lioden.com/images/explorenew/antipoach/primalshamanday.png') !important;
	background: url('https://static.lioden.com/images/dynamic/backgrounds/ancienthome.png') no-repeat center !important;
	background-size: cover !important;
	position: relative;
	height: 160px !important;
	object-fit: cover !important;
	
}

a[href$="483195"]>div.cave-grid>img {
		content:url('https://static.lioden.com/images/explorenew/antipoach/upembalechweday.png') !important;
	background: url('https://static.lioden.com/images/dynamic/backgrounds/southafricanmeadows.png') no-repeat center !important;
	background-size: cover !important;
	position: relative;
	height: 160px !important;
	object-fit: cover !important;
    padding-top: 5px !important;
	

}
a[href$="474929"]>div.cave-grid>img {
	content:url('https://static.lioden.com/images/explorenew/shaman/lionsbodypaintingday.png') !important;
    padding-top: 64px !important;
    
	background: url('https://static.lioden.com/images/dynamic/backgrounds/tanglcliff.png') no-repeat center !important;
	background-size: cover !important;
	position: relative;
	height: 160px !important;
	object-fit: cover !important;
	
}
a[href$="485847"]>div.cave-grid>img {
		    content: url('https://static.lioden.com/images/explorenew/shaman/sangomatefnutandtefnutday.png') !important;

background: url('https://static.lioden.com/images/dynamic/backgrounds/lake_victoria.png')!important;
background-size: cover !important;
   

}


a[href$="lionoverview.php?id=533307"]>div.cave-grid>img /* Pride Overview */ {
	    content: url('https://static.lioden.com/images/explorenew/shaman/spiritwalkerstallionday.png') !important;
    object-position: center 22px !important;
background: url('https://static.lioden.com/images/dynamic/backgrounds/Vfireofkutsiva.png') no-repeat center !important;
background-size: cover !important;


}


a[href$="unsorted.php?id=533307"]>div.cave-grid>img /* Unsorted */ {
    content: url('https://static.lioden.com/images/explorenew/shaman/smokingmoundday.png') !important;
   padding: 0px !important;
background: url('https://static.lioden.com/images/dynamic/backgrounds/birdpoaching.png') no-repeat center !important;

background-size: cover !important;

position: relative;


}





div.mound-grid>img {
 background: url('https://static.lioden.com/images/dynamic/backgrounds/spring_chicks.png');background-size: cover;
width: 100%;
height: 10%;
padding-top: 60%;
padding-right: 100%;
max-height: 150px;
border-radius: 5px !important;
 }

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */


@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}


@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
.custom-box {
 background: linear-gradient(180deg, #cd7f32 0%, #7d4427 50%, #3e2723 100%) !important;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5);
    width: 580px;
    height: 400px;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
}
.custom-box::after {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 380px;
    color: #fff;
  
    background: rgba(0, 0, 0, 0);
    padding: 1px;
    border-radius: 5px;
    white-space: nowrap;
}


.top-bar {
   background: linear-gradient(to bottom, #bfa161, #bf842d)!important;
    background-size:cover;
    font-family: "Bodoni Moda SC", serif;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}


.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-weight: normal;
    transition: color 0.4s;
    font-size: 15px; 
}

.top-bar a:hover {
    color: #fff;
}


.box-content {
    padding-top: 50px; 
    
    font-size: 25px;
}
.side-box {
    animation: floatBob 3s ease-in-out infinite;
    background: rgba(255, 255, 255, 0);
    width: 560px;
    height: 330px;
    position: absolute;
    top: 50px;
    right: 10px; 
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    overflow: auto;
    scrollbar-width: none!important;
}
.scrollSection {
    display: flex;
    justify-content: center;
   

}

.smallhoverbox1, .smallhoverbox2 {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 47%;
    height: 65px;
    margin: 1%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: 1.2s;

    background: linear-gradient(180deg, #cd7f32 0%, #7d4427 50%, #3e2723 100%) !important;
    border: 2px solid #d4af37 !important;
     color: #000!important;
}

.smallhoverbox1:hover, .smallhoverbox2:hover {
    height: 250px;
    z-index: 100;
    overflow-y: auto;
    
    background: linear-gradient(180deg, #e5a567 0%, #7d4427 100%) !important;
    border: 2px solid #f9d71c !important;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.smallhoverbox1:hover, .smallhoverbox2:hover {
    height: 250px;
    z-index: 100;
    overflow-y: auto;
    
    background: linear-gradient(180deg, #e5a567 0%, #7d4427 100%) !important;
    border: 2px solid #f9d71c !important;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4)
    border: 2px solid var(--bright-gold) !important;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
   
}

.smallhoverbox1::-webkit-scrollbar, .smallhoverbox2::-webkit-scrollbar {
    width: 6px;
}

.smallhoverbox1::-webkit-scrollbar-track, .smallhoverbox2::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}
.smallhoverbox1::-webkit-scrollbar-thumb, .smallhoverbox2::-webkit-scrollbar-thumb {
    background: rgba(0, 210, 255, 0.5);
    border-radius: 3px;
}
/* Codes made by Pandora #144118 and Moses #95222 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* REMOVE WHITE LINE */
    hr {
display:none;
}
